@import "buttonStyle";
.mainItemCountDiv{
  display: grid;
  justify-content: center;
  align-self: center;
  font-size: 15px;  
  
}
.mainDivContainer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  .cardProduct {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    height: 500px;
    color: #616d69;
    font-size: small;
    font-weight: 600;
    .card{
      height: fit-content;
      transition: all;
      transition-duration: 0.5s;
      &:hover{
        transform: translateY(3px);
        box-shadow: 1px 2px 10px gray;
        border-radius: 10px;
      }
      .cardPrice{
        font-size: larger;
        color:#1e3e45;
       }
      img{
        height: 300px;
      }
    }
    button {
      @include buttonStyle;

    }
  }
